// VARIABLES

$primary: #0b8abe;
$primary-active: #0775a1;
$color-secondary: #eff5fa;
$secondary: rgb(52 120 188 / 8%);

// Text
$text-01: rgb(27 31 59 / 80%);
$desktop-breakpoint: 1160px;
$mobile-container: 342px;
$ipad-portrait: 768px;
$ipad-landscape: 1024px;
