@import '~styles/vars';

.label {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: $text-01;
    cursor: pointer;
    vertical-align: top;
    text-align: left;
    white-space: normal;
}
